<%= form_tag @program do %>
  <%= text_field_tag :title, nil, class: "title", placeholder: "Title" %>
  <hr>
  <div class="sign">
    <%= submit_tag "Create New Program", class: "button btn btn-default wide" %>
  </div>
<% end %>
