<div class="istok-web">
  <%= form_for @program do |f| %>
    <%= f.text_field :title, class: "title", placeholder: "Title" %>

    <div class="sign">
      <%= f.submit "Create New Workout", class: "button btn btn-default wide" %>
    </div>
  <% end %>
</div>
