<h1 class="header">Your Programs</h1>

<% @programs.each do |program| %>
  <div>
    <h2><%= link_to program.title, program_path(program) %></h2>
    <hr>
  </div>
<% end %>

<div class="karla">
  <%= link_to "Add New Workout", new_program_path %>
</div>
