<div>
  <h1><%= @program.title %></h1>
  <p><%= link_to "Add Exercises", new_program_exercise_log_path(@program) %> |
     <%= link_to "Delete Entire Workout", @program, method: :delete, data: {confirm: "Are you sure?"} %>
  </p>
  <hr>
</div>
