<div class="istok-web">
  <%= simple_form_for([@program, @exercise], url: program_exercises_path(@program)) do |f| %>
    <div>
      <%= f.association :exercise_option, include_blank: false, label: false %>
    </div>
    <div>
      <%= f.button :submit, "Add", class: "button btn btn-default wide" %>
    </div>
  <% end %>
</div>
