<div id="exercises-form">
  <% @exercises.each do |exercise| %>
    <% program = exercise.program  %>
    <div class="exercises" id="<%= dom_id(program) %>-<%= dom_id(exercise) %>">
      <%= render "exercise_log", exercise: exercise %>
    </div>
  <% end %>
  <div id="finish">
    <%= link_to image_tag("/assets/weightlifting.png"), program_path(@program) %>
  </div>
</div>
